.sidebar {
    position: fixed;
    top: 58px; 
    left: 0;
    bottom: 0;
    width: 72px;
    background-color: white;
    z-index: 100;
  }

  .sidebar-link {
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sidebar img {
    height: 26px;
    cursor: pointer;
    margin-bottom: 4px;
  }
  .sidebar img:hover {
   
    border-radius: 8px;
    padding: 4px;
    
  }
  .sidebar-link:hover {
     background: #eee;
  }
  .sidebar-link div {
    font-family: Roboto, Arial;
    font-size: 10px;
  }
